.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.header {
  padding: var(--size-4);
  color: white;
  background-color: var(--text);
  background-size: cover;
  background-position: center;
}

.artist-credit {
  margin-top: var(--size-4);
  font-weight: var(--font-weight-5);
  margin-bottom: var(--size-2);
}

.date {
  font-size: var(--font-size-0);
}
