.container {
  display: flex;
  flex-direction: column;
}

.text__wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: var(--font__weight--medium);
  margin-top: var(--spacing--2--5);
}

.artist {
  font-size: var(--font__size--sm);
  margin-top: var(--spacing--1);
  color: var(--color--text--secondary);
}

a {
  height: fit-content;
}
