.container {
  filter: var(--drop-shadow);
}

.container > circle {
  fill: var(--color--white);
}

.container > path {
  fill: var(--color--accent--primary);
}

.normal {
  height: 50px;
  width: 50px;
}

.small {
  height: 35px;
  width: 35px;
}
