.container {
  filter: var(--ga-drop-shadow__rg);
}

.container > circle{
  fill: var(--ga-color__white)
}

.container > path{
  fill: var(--ga-accent-color--primary);
}

.normal {
  height: 50px;
  width: 50px;
}

.small {
  height: 35px;
  width: 35px;
}
