.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--ga-spacing__lg);
  padding: var(--ga-spacing__xs) var(--ga-spacing__sm);
}

.container--playing {
  background-color: var(--ga-background__color--secondary);
  border-radius: var(--ga-radius__sm);
}

.track-number {
  font-size: var(--ga-font-size__xs);
  text-align: left;
  width: 2ch;
  color: var(--ga-text__color--tertiary);
}

.track-number-and-title-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  gap: var(--ga-spacing__sm);
}

.artist-and-duration-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: var(--ga-font-weight__medium);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--ga-text__color--primary);
}

.artist {
  font-size: var(--ga-font-size__xs);
  flex: 1;
  color: var(--ga-text__color--tertiary);
}

.duration {
  font-size: var(--ga-font-size__xs);
  color: var(--ga-text__color--tertiary);
}
