.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing--4);
  padding: var(--spacing--4);
}

.container--playing {
  background-color: var(--color--background--1);
  border-radius: var(--radius--sm);
}

.track-number {
  font-size: var(--font__size--sm);
  text-align: left;
  width: 2ch;
  color: var(--color--text--tertiary);
}

.track-number-and-title-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  gap: var(--spacing--4);
}

.artist-and-duration-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: var(--font__weight--medium);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color--text--primary);
}

.artist {
  font-size: var(--font__size--sm);
  flex: 1;
  color: var(--color--text--tertiary);
}

.duration {
  font-size: var(--font__size--sm);
  color: var(--color--text--tertiary);
}
