.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.size-sm {
  height: var(--size-cover-art-sm);
  width: var(--size-cover-art-sm);
}

.size-md {
  height: var(--size-cover-art-md);
  width: var(--size-cover-art-md);
}

.default {
  display: flex;
  color: var(--text-alt);
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  background-color: var(--text);
}

.default > svg {
  height: 20%;
  width: 20%;
}
