@import "open-props/colors.min.css";
@import "open-props/fonts.min.css";
@import "open-props/sizes.min.css";
@import "open-props/borders.min.css";
@import "open-props/shadows.min.css";

:root {
  /* font */
  --font-size-00: 0.6875rem;
  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.375rem;
  --font-size-6: 1.5625rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2rem;

  /* colors */
  --black: #000;
  --white: #fff;
  --accent: var(--black);
  --text: #000;
  --text-alt: #fff;
  --text-subtle: var(--gray-7);
  --hover: var(--stone-0);
  --hover-alt: var(--stone-1);

  /* opacity */
  --opacity-disabled: 0.5;

  /* outline */
  --outline-focus: 2px solid var(--text);

  /* shadow */
  --inner-shadow-focus: var(--inner-shadow-3);

  /* size */
  --size-scrollbar-width: 3px;

  --size-cover-art-sm: 56px;
  --size-cover-art-md: 128px;

  --size-title-bar-height: 32px;
  --size-title-bar-button-height: var(--size-title-bar-height);
  --size-title-bar-button-width: 48px;
}
