.container {
  display: flex;
  border: 0;
  align-items: center;
  padding: var(--ga-spacing__4) var(--ga-spacing__8);
  gap: var(--ga-spacing__16);
  border-color: var(--ga-border__color);
  border-top-width: var(--ga-border__width);
  border-style: solid;
  flex: 0 0 content;
  min-height: 0;
}

.media-button__wrapper {
  display: flex;
  align-items: center;
  gap: var(--ga-spacing__4);
  justify-content: center;
}

.rest__wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.track-info {
  display: flex;
  align-items: center;
  min-width: 30%;
  gap: var(--ga-spacing__3--5);
}

.track-info__text {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.track-info__title {
  font-weight: var(--ga-font-weight__medium);
  color: var(--ga-text__color--primary);
}

.track-info__artist {
  color: var(--ga-text__color--secondary);
  font-size: var(--ga-font-size__sm);
  margin-top: var(--ga-spacing__1);
  margin-bottom: var(--ga-spacing__0--5);
}

.track-info__release {
  color: var(--ga-text__color--secondary);
  font-size: var(--ga-font-size__xs);
}
