.container {
  display: flex;
  align-items: center;
  padding: var(--ga-spacing__rg);
  gap: calc(2 * var(--ga-spacing__xl));
  @apply border-t-border border-t-2;
}

.media-button-wrapper {
  display: flex;
  align-items: center;
  gap: var(--ga-spacing__sm);
  justify-content: center;
}

.restWrapper {
  display: flex;
  align-items: center;
  gap: var(--ga-spacing__sm);
  flex: 1;
}

.trackInfo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--ga-spacing__sm);
}

.trackInfoText {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.trackInfoTitle {
  font-weight: var(--ga-font-weight__medium);
  color: var(--ga-text__color--primary);
}

.trackInfoArtist {
  color: var(--ga-text__color--secondary);
  font-size: var(--ga-font-size__xs);
}

.trackInfoRelease {
  color: var(--ga-text__color--secondary);
  font-size: var(--ga-font-size__2xs);
}
