.container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing--10);
  gap: var(--spacing--10);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.track-list__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--8);
}

.header__container {
  display: flex;
  gap: var(--spacing--6);
}

.header__info__wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header__info__title {
  font-size: var(--font__size--xl);
  font-weight: var(--font__weight--semi-bold);
}

.header__info__artist {
  margin-top: var(--spacing--3--5);
  margin-bottom: var(--spacing--1);
  font-weight: var(--font__weight--medium);
  color: var(--color--text--secondary);
}

.header__info__year {
  font-size: var(--font__size--sm);
  font-weight: var(--font__weight--medium);
  color: var(--color--text--secondary);
}
