.picture {
  margin-bottom: var(--size-1);
}

.name {
  font-weight: var(--font-weight-6);
}

.artist-credit-name {
  font-size: var(--font-size-0);
}

.container {
  height: fit-content;
}

.container:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--size-1);
}
