.container {
  object-fit: contain;
  overflow: hidden;
  border-radius: var(--ga-radius__lg);
  flex-shrink: 0;
  box-shadow: var(--ga-box-shadow__rg);
  fill: var(--ga-accent-color--primary);
}

.big {
  height: 200px;
  width: 200px;
}

.medium {
  height: 85px;
  width: 85px;
}

.small {
  height: 70px;
  width: 70px;
}
