.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-style: solid;
  border-right-width: var(--border-width);
  border-color: var(--color--border);
  width: 50px;
  padding: var(--spacing--2) 0;
}

img {
  height: 30px;
  aspect-ratio: 1;
}
