.container {
  padding: var(--size-2);
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  position: relative;
  gap: var(--size-2);
  background-size: cover;
  background-position: center;
  box-shadow: var(--inner-shadow-4);
}

.controls {
  display: flex;
  gap: var(--size-3);
  align-items: center;
}

.control {
  border-radius: var(--radius-1);
  font-size: var(--font-size-4);
  display: grid;
  place-content: center;
  height: var(--size-6);
  width: var(--size-6);
}

.left {
  display: grid;
  grid-template-columns: var(--size-cover-art-sm) 1fr;
  align-items: center;
  gap: var(--size-2);
}

.name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: var(--font-weight-5);
}

.artist {
  font-size: var(--font-size-00);
}

.release {
  font-size: var(--font-size-0);
}

.time {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-1);
  font-size: var(--font-size-0);
}
