.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: var(--inner-shadow-4);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  font-size: var(--font-size-3);
  padding: var(--size-3);
}

.link-active {
  color: var(--text);
}

.link-inactive {
  color: var(--gray-5);
}
