@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    font-size: theme("fontSize.base");
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    scroll-behavior: smooth;
    position: relative;
  }

  @font-face {
    font-family: "Inter";
    font-weight: 100;
    src: url("assets/fonts/Inter-Thin.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("assets/fonts/Inter-ExtraLight.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("assets/fonts/Inter-Light.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("assets/fonts/Inter-Regular.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("assets/fonts/Inter-Medium.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("assets/fonts/Inter-SemiBold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("assets/fonts/Inter-Bold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url("assets/fonts/Inter-ExtraBold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("assets/fonts/Inter-Black.ttf");
  }

  :focus-visible {
    outline-style: solid;
    outline-width: theme("outlineWidth.1");
    outline-offset: theme("outlineOffset.1");
  }

  ::selection {
    background-color: #007aff;
    color: theme("colors.white");
  }

  button:not([data-no-style]) {
    border-radius: theme("borderRadius.sm");
    padding: theme("padding.1") theme("padding.2");
    border: theme("borderWidth.DEFAULT") solid theme("colors.gray.4");
    font-weight: theme("fontWeight.medium");
  }

  button:not([data-no-style]):hover {
    border-color: theme("colors.gray.6");
  }

  button[data-variant="primary"]:not([data-no-style]) {
    background-color: theme("colors.black");
    color: theme("colors.white");
  }

  button[data-variant="primary"]:not([data-no-style]):hover {
    border-color: theme("colors.gray.6");
  }

  button[data-size="sm"]:not([data-no-style]) {
    padding: theme("padding.[0.5]") theme("padding.2");
  }

  button:not([data-no-style]):focus-visible {
    outline-offset: theme("outlineOffset.2");
  }

  input[type="text"]:not([data-no-style]),
  input[type="search"]:not([data-no-style]) {
    border-radius: theme("borderRadius.sm");
    border-width: theme("borderWidth.DEFAULT");
    border-color: theme("borderColor.gray.4");
    padding: theme("padding.[0.5]") theme("padding.1");
  }

  input[type="text"]:not([data-no-style]):hover,
  input[type="search"]:not([data-no-style]):hover {
    border-color: theme("borderColor.gray.6");
  }

  input[type="text"]:not([data-no-style])::placeholder,
  input[type="search"]:not([data-no-style])::placeholder {
    color: theme("colors.gray.5");
  }

  input[type="text"]:not([data-no-style]):focus-visible,
  input[type="search"]:not([data-no-style]):focus-visible {
    outline-offset: theme("outlineOffset.0");
  }

  :disabled {
    opacity: theme("opacity.50");
  }

  h1 {
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.4xl");
  }

  h2 {
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.3xl");
  }

  a {
    cursor: default;
  }

  button {
    cursor: default;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: theme("colors.gray.1");
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.6");
    border-radius: theme("borderRadius.DEFAULT");
  }
}

@layer components {
  .disabled {
    opacity: theme("opacity.50");
  }
}
