@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply text-base;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    scroll-behavior: smooth;
    position: relative;
  }

  @font-face {
    font-family: "Inter";
    font-weight: 100;
    src: url("assets/fonts/Inter-Thin.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url("assets/fonts/Inter-ExtraLight.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("assets/fonts/Inter-Light.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("assets/fonts/Inter-Regular.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("assets/fonts/Inter-Medium.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("assets/fonts/Inter-SemiBold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("assets/fonts/Inter-Bold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 800;
    src: url("assets/fonts/Inter-ExtraBold.ttf");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url("assets/fonts/Inter-Black.ttf");
  }

  :focus-visible {
    @apply outline outline-1;
  }

  ::selection {
    @apply text-white;
    background-color: #007aff;
  }

  input[type="text"] {
    @apply border border-gray-3 placeholder:text-gray-5 focus-visible:outline-offset-0;
  }

  :disabled {
    @apply opacity-50;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  a {
    cursor: default;
  }

  button {
    cursor: default;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: theme("colors.gray.1");
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-6;
  }
}

@layer components {
  .btn {
    @apply rounded bg-black px-2 py-1 text-white focus-visible:outline-offset-2;
  }

  .disabled {
    @apply opacity-50;
  }
}
