@import url("./reset.css");

/* "ga" stands for grass-audio, naming convention for variables is BEM */
@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

:root {
  --rem-px-base: 16;

  --ga-spacing__0: 0rem;
  --ga-spacing__0--5: 0.125rem;
  --ga-spacing__1: 0.25rem;
  --ga-spacing__1--5: 0.375rem;
  --ga-spacing__2: 0.5rem;
  --ga-spacing__2--5: 0.625rem;
  --ga-spacing__3: 0.75rem;
  --ga-spacing__3--5: 0.875rem;
  --ga-spacing__4: 1rem;
  --ga-spacing__5: 1.25rem;
  --ga-spacing__6: 1.5rem;
  --ga-spacing__7: 1.75rem;
  --ga-spacing__8: 2rem;
  --ga-spacing__9: 2.25rem;
  --ga-spacing__10: 2.5rem;
  --ga-spacing__11: 2.75rem;
  --ga-spacing__12: 3rem;

  --ga-box-shadow__sm: 1px 2px 2px rgb(0 0 0 / 0.5);
  --ga-box-shadow__rg: 1px 2px 2px rgb(0 0 0 / 0.2),
    2px 4px 4px rgb(0 0 0 / 0.2);
  --ga-box-shadow__md: 2px 4px 4px rgb(0 0 0 / 0.175),
    3px 6px 8px rgb(0 0 0 / 0.175);

  --ga-drop-shadow__sm: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.5));
  --ga-drop-shadow__rg: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.2))
    drop-shadow(2px 4px 4px rgb(0 0 0 / 0.2));

  --ga-radius__xs: 0.125rem;
  --ga-radius__sm: 0.25rem;
  --ga-radius__rg: 0.375rem;
  --ga-radius__md: 0.5rem;
  --ga-radius__lg: 0.75rem;
  --ga-radius__xl: 1rem;

  --ga-font-size__2xs: calc((8.1 / var(--rem-px-base)) * 1rem);
  --ga-font-size__xs: calc((9.72 / var(--rem-px-base)) * 1rem);
  --ga-font-size__sm: calc((11.67 / var(--rem-px-base)) * 1rem);
  --ga-font-size__rg: calc((14 / var(--rem-px-base)) * 1rem);
  --ga-font-size__lg: calc((16.8 / var(--rem-px-base)) * 1rem);
  --ga-font-size__xl: calc((20.16 / var(--rem-px-base)) * 1rem);
  --ga-font-size__2xl: calc((24.19 / var(--rem-px-base)) * 1rem);
  --ga-font-size__3xl: calc((29.03 / var(--rem-px-base)) * 1rem);
  --ga-font-size__4xl: calc((34.84 / var(--rem-px-base)) * 1rem);

  --ga-font-weight__normal: 400;
  --ga-font-weight__medium: 500;
  --ga-font-weight__semi-bold: 600;
  --ga-font-weight__bold: 700;

  --ga-color__white: #fff;
  --ga-color__black: #000;
  --ga-color__gray--50: #f2f2f7;
  --ga-color__gray--100: #e5e5ea;
  --ga-color__gray--200: #d1d1d6;
  --ga-color__gray--300: #c7c7cc;
  --ga-color__gray--400: #aeaeb2;
  --ga-color__gray--500: #8e8e93;
  --ga-color__gray--600: #636366;
  --ga-color__gray--700: #48484a;
  --ga-color__gray--800: #3a3a3c;
  --ga-color__gray--900: #2c2c2e;
  --ga-color__gray--1000: #1c1c1e;

  --ga-color__blue: #007aff;

  --ga-accent-color--primary: var(--ga-color__blue);
  --ga-accent-color--secondary: var(--ga-color__gray--800);
  --ga-accent-color--tertiary: var(--ga-color__gray--600);

  --ga-text__color--primary: var(--ga-color__gray--1000);
  --ga-text__color--secondary: var(--ga-color__gray--800);
  --ga-text__color--tertiary: var(--ga-color__gray--600);
  --ga-text__color--quaternary: var(--ga-color__gray--400);

  --ga-background__color--primary: var(--ga-color__white);
  --ga-background__color--secondary: var(--ga-color__gray--100);

  --ga-border__color: var(--ga-color__gray--50);
  --ga-border__width: 0.1rem;
}

body {
  color: var(--ga-text__color--primary);
  font-family: "Inter";
  font-size: var(--ga-font-size__rg);
  font-weight: var(--ga-font-weight__normal);

}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: var(--ga-color__gray--50);
}
