@import url("./reset.css");

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

:root {
  --rem-px-base: 16;

  /* Base spacing */
  --spacing--0: 0rem;
  --spacing--0--5: 0.125rem;
  --spacing--1: 0.25rem;
  --spacing--1--5: 0.375rem;
  --spacing--2: 0.5rem;
  --spacing--2--5: 0.625rem;
  --spacing--3: 0.75rem;
  --spacing--3--5: 0.875rem;
  --spacing--4: 1rem;
  --spacing--5: 1.25rem;
  --spacing--6: 1.5rem;
  --spacing--7: 1.75rem;
  --spacing--8: 2rem;
  --spacing--9: 2.25rem;
  --spacing--10: 2.5rem;
  --spacing--11: 2.75rem;
  --spacing--12: 3rem;
  --spacing--14: 3.5rem;
  --spacing--16: 4rem;
  --spacing--20: 5rem;
  --spacing--24: 6rem;
  --spacing--28: 7rem;
  --spacing--32: 8rem;
  --spacing--36: 9rem;
  --spacing--40: 10rem;

  /* Base radius */
  --radius--xs: 0.125rem;
  --radius--sm: 0.25rem;
  --radius: 0.375rem;
  --radius--md: 0.5rem;
  --radius--lg: 0.75rem;
  --radius--xl: 1rem;

  /* Base font size */
  --font__size--2xs: calc((8.1 / var(--rem-px-base)) * 1rem);
  --font__size--xs: calc((9.72 / var(--rem-px-base)) * 1rem);
  --font__size--sm: calc((11.67 / var(--rem-px-base)) * 1rem);
  --font__size: calc((14 / var(--rem-px-base)) * 1rem);
  --font__size--lg: calc((16.8 / var(--rem-px-base)) * 1rem);
  --font__size--xl: calc((20.16 / var(--rem-px-base)) * 1rem);
  --font__size--2xl: calc((24.19 / var(--rem-px-base)) * 1rem);
  --font__size--3xl: calc((29.03 / var(--rem-px-base)) * 1rem);
  --font__size--4xl: calc((34.84 / var(--rem-px-base)) * 1rem);

  /* Base font weight */
  --font__weight: 400;
  --font__weight--medium: 500;
  --font__weight--semi-bold: 600;
  --font__weight--bold: 700;

  /* Base colors */
  --color--white: #fff;

  --color--black: #000;

  --color--blue: #007aff;

  --color--gray: #f2f2f7;
  --color--gray--1: #e5e5ea;
  --color--gray--2: #d1d1d6;
  --color--gray--3: #c7c7cc;
  --color--gray--4: #aeaeb2;
  --color--gray--5: #8e8e93;
  --color--gray--6: #636366;
  --color--gray--7: #48484a;
  --color--gray--8: #3a3a3c;
  --color--gray--9: #2c2c2e;
  --color--gray--10: #1c1c1e;

  /* Derived colors */
  --color--accent--primary: var(--color--blue);
  --color--accent--secondary: var(--color--gray--8);

  --color--text--primary: var(--color--gray--10);
  --color--text--secondary: var(--color--gray--8);
  --color--text--tertiary: var(--color--gray--6);
  --color--text--quaternary: var(--color--gray--4);
  --color--text--lightest: var(--color--white);

  --color--background: var(--color--white);
  --color--background--1: var(--color--gray--1);

  --color--border: var(--color--gray);

  --border-width: 0.1rem;

  --box-shadow--sm: 1px 2px 2px rgb(0 0 0 / 0.5);
  --box-shadow: 1px 2px 2px rgb(0 0 0 / 0.2), 2px 4px 4px rgb(0 0 0 / 0.2);
  --box-shadow--md: 2px 4px 4px rgb(0 0 0 / 0.175),
    3px 6px 8px rgb(0 0 0 / 0.175);

  --drop-shadow--sm: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.5));
  --drop-shadow: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.2))
    drop-shadow(2px 4px 4px rgb(0 0 0 / 0.2));
}

body {
  color: var(--color--text--primary);
  font-family: "Inter";
  font-size: var(--font__size);
  font-weight: var(--font__weight);
  user-select: none;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color--gray);
}
